<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of AntoineK_Cms for Magento.
 *
 * @license http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author Antoine Kociuba <antoine.kociuba@gmail.com> <@antoinekociuba>
 * @category AntoineK
 * @package AntoineK_Cms
 * @copyright Copyright (c) 2015 Antoine Kociuba (http://www.antoinekociuba.com)
 */
-->
<config>
    <modules>
        <AntoineK_Cms>
            <version>1.0.0</version>
        </AntoineK_Cms>
    </modules>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <antoinek_cms>
                        <class>antoinek_cms/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </antoinek_cms>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <cms>
                <rewrite>
                    <!-- Rewrite in order to use core/template functionalities -->
                    <block>AntoineK_Cms_Block_Rewrite_Block</block>
                    <!-- Rewrite in order to set CMS block object to block, and not only content -->
                    <widget_block>AntoineK_Cms_Block_Rewrite_Widget_Block</widget_block>
                </rewrite>
            </cms>
        </blocks>
        <helpers>
            <antoinek_cms>
                <class>AntoineK_Cms_Helper</class>
            </antoinek_cms>
        </helpers>
        <models>
            <antoinek_cms>
                <class>AntoineK_Cms_Model</class>
            </antoinek_cms>
            <cms>
                <rewrite>
                    <!-- Rewrite in order to override event properties + add filter method -->
                    <block>AntoineK_Cms_Model_Rewrite_Block</block>
                </rewrite>
            </cms>
        </models>
        <resources>
            <antoinek_cms_setup>
                <setup>
                    <module>AntoineK_Cms</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </antoinek_cms_setup>
        </resources>
        <events>
            <cms_block_load_after>
                <observers>
                    <antoinek_cms>
                        <class>antoinek_cms/observer</class>
                        <method>cmsBlockLoadAfter</method>
                    </antoinek_cms>
                </observers>
            </cms_block_load_after>
            <cms_block_save_after>
                <observers>
                    <antoinek_cms>
                        <class>antoinek_cms/observer</class>
                        <method>cmsBlockSaveAfter</method>
                    </antoinek_cms>
                </observers>
            </cms_block_save_after>
        </events>
    </global>
</config>
